*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
nav{
  background:#8B7E74;
  height: 10vh;
  width: 100%;

}
.logo{
  color: #fff;
  font-size: 35px;
  line-height: 60px;
  padding-left: 75px;
  font-weight: normal;
  height: 50px;
  width: 300px;
}
nav ul{
  float: right;
  margin-right: 30px;
  list-style: none;
}
nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}

nav ul li a{
  color: #FEFCF3;
  font-size: 16px;
  font-weight: 600;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
nav ul li a:hover{
  color: gold;

}
span{
  text-transform: uppercase;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}
.checkbtn{
  font-size: 30px;
  color: rgb(77, 77, 153);
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 775px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  span{
      font-size: 16px;
  }
}
@media (max-width: 983px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(197, 194, 206);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 18px;
  }
  span{
      font-size: 18px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

 

#interest{
    border: 1px solid #967E76;
    height: 10vh;
    max-width: 100%;
    background-color: #C7BCA1;
    border-radius: 5px;
    margin-top: 5px;
}
#interest header{
    text-align: center; 
    width: 50%;
    margin: auto;
    border-radius: 3px;
}
#interest h4{
    font-size: 25px;
    padding-bottom: 10px;
    text-align: center;
}
#interest p{
   text-align: center;
}


#images{
  background-color: #E9DAC1;
  
}
.responsive{
    height: 50vh;
    width: 100%;
    margin: 10px 10px;
  
}
.gallery img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.desc{
    padding: 15px;
    text-align: center;
}
.top{
    padding:  0 5px;
    float:left;
    width: 33%;
    box-shadow: 5px 5px 10px #888888;
    /* margin: 10px 0; */
}
.responsive-images{
    height: 50vh;
    width: 100%;
    margin: 10px 10px;
}
.bottom{
    padding:  0 5px;
    float:left;
    width: 33%;
    box-shadow: 5px 5px 10px #888888;
    /* margin: 10px 0; */
}

.container{
  margin-top: 20px;
  display: grid;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: #F8F4EA;
}
.hero{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,1fr);
  border: 2px solid black;
  margin: 100px 0;
  border-radius: 5px;
}
.hero h4{
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
}
.hero img{
  height: 80vh;
  width: 40vw;
  border-radius: 200%;
  object-fit: cover;
}
.one, .two{
  border: 2px solid brown;
}
.footer {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 40px;
}

.footer .left, .footer .center, .footer .right {
  display: inline-block;
  vertical-align: top;
}

.footer .left{
  width: 30%;
}

.footer .left h3 span{
  color: #e0ac1c;
}
.footer .left h3 {
  color: #fff;
}
.footer .links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer .links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .center {
  width: 35%;
}

.footer .center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .center i.fa-envelope {
  font-size: 15px;
  line-height: 35px;
}

.footer .center h3 span{
  color: #fff;
  font-size: 18px;
}
.footer .center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer .right {
  width: 30%;
}

.footer .about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .about span {
  display: block;
  color: #e0ac1c;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer .icons a:hover {
  background-color: #3F71EA;
}

.links a:hover {
  color: #3F71EA;
}

@media (max-width: 880px) {
  .footer{
    margin-top: 10px;
  }  
  .footer .left, .footer .center, .footer .right {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
  }
  .footer .center i {
      margin-left: 0;
  }
}       
      
   
